<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <base href="/">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <%- include('../../components/header') %>
    <%- include('../../components/sidebar') %>

      <main id="main" class="main">

        <div class="pagetitle">
          <h1>Kelola Studio</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Beranda</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section">
          <div class="row">
            <div class="col-lg-6">

              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">StudioBook Dashboard Home</h5>
                  <p>Hello <b>
                      <% if(!user){ %>
                        Myprofile
                        <% }else{ %>
                          <%= user.username %>
                        <% } %>
                    </b>, Welcome to the dashboard StudioBook.</p>
                  <p>Enjoy, and let's to explore all feature in the dashboard now.</p>
                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <!-- <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div> -->

            </div>
          </div>
        </section>

        <!-- START TABLE LIST ALL STUDIO -->
        <section class="section">
          <div class="row">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">

                  <span class="d-flex align-items-center">
                    <h5 class="card-title me-auto">Daftar Studio</h5>
                    <button class="btn btn-outline-primary h-25" data-bs-toggle="modal" data-bs-target="#createModal"><i
                        class="fa-solid fa-plus fa-fade me-2"></i>Buat Studio Baru
                    </button>
                  </span>

                  <p>All Studio available will be display in the table and only Admin/Owner Studio can running command
                    <a href="#" target="_blank">Create, Read, Update, and Delete</a> for the data of <code>Studio</code>
                  </p>

                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <!-- <th scope="col">Studio ID</th> -->
                        <th scope="col">Gambar</th>
                        <th scope="col">Nama</th>
                        <!-- <th scope="col">Owner</th> -->
                        <th scope="col">Deskripsi</th>
                        <!-- <th scope="col">Alamat</th> -->
                        <th scope="col">Harga (Per Jam)</th>
                        <th scope="col">Kategori</th>
                        <!-- <th scope="col">Durasi Paket (Jam)</th> -->
                        <th scope="col">Ruang (Unit)</th>
                        <th scope="col">Aksi</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% if(studios.length===0) { %>
                        <tr class="">
                          <td class="text-center">
                            <img class="imageStudio" src="https://cdn.pnghd.pics/data/899/sewa-studio-foto-jakarta-18.jpg" alt="img-studio">
                          </td>
                          <td>Premix Studio</td>
                          <td class="text-truncate" style="max-width: 200px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, optio.</td>
                          <td>Rp250.000</td>
                          <td>Studio Podcast</td>
                          <td>5</td>
                          <td>Lorem, ipsum dolor.</td>
                        </tr>
                        <tr class="">
                          <td class="text-center">
                            <img class="imageStudio" src="https://165suite.com/wp-content/uploads/2022/09/Info-Lengkap-Rata-rata-Harga-Sewa-Studio-Jakarta.jpg" alt="img-studio">
                          </td>
                          <td>Generals Studio</td>
                          <td style="max-width: 200px;"><%= ("Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, optio.adipisicing elit. Eum, optio.adipisicing elit. Eum, optio.adipisicing elit. Eum, optio.").slice(0,100).concat("...") %></td>
                          <td>Rp250.000</td>
                          <td>Studio Podcast</td>
                          <td>5</td>
                          <td>Lorem, ipsum dolor.</td>
                        </tr>
                        <tr class="">
                          <td class="text-center">
                            <img class="imageStudio" src="https://i0.wp.com/katalisnet.com/wp-content/uploads/2020/12/studio-podcast-katalisnet-3-e1608715753161.jpeg?fit=640%2C360&ssl=1" alt="img-studio">
                          </td>
                          <td>Mixaa Studio</td>
                          <td class="text-truncate" style="max-width: 200px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, optio.</td>
                          <td>Rp250.000</td>
                          <td>Studio Podcast</td>
                          <td>5</td>
                          <td>Lorem, ipsum dolor.</td>
                        </tr>
                        <% } else {%>
                          <% studios.forEach((studio, key)=> { %>
                            <tr>
                              <td>
                                <img class="imageStudio" src="upload/images/studio/<%= studio.image %>" alt="img-studio" >
                              </td>
                              <td>
                                <%= studio.name %>
                              </td>
                              <td style="max-width: 200px;">
                                <%= (studio.description).slice(0,100).concat("...") %>
                              </td>
                              <td>
                                <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(studio.price); %>
                              </td>
                              <td>
                                <%= studio.category %>
                              </td>
                              <td class="text-center">
                                <%= studio.room %>
                              </td>
                              <td>
                                <div class="d-flex flex-column gap-2">
                                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#detailModal-<%= studio.id %>">
                                    <i class="fa-solid fa-eye"></i>
                                  </button>
                                  <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                    data-bs-target="#editModal-<%= studio.id %>">
                                    <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                  </button>
                                  <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-<%= studio.id %>">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>

                          
                          <!-- Modal Detail Data -->
                          <div class="modal fade" id="detailModal-<%= studio.id %>" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Detail Studio dari <%= studio.name %></h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <h4 class="fw-semibold text-capitalize"><%= studio.name%></h4>
                                  <div class="d-flex justify-content-between p-2">
                                    <div>
                                      <p><i class="bi bi-building"></i> <%= studio.category%></p>
                                      <p><i class="bi bi-cash-coin"></i> <%=  new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(studio.price); %></p>
                                    </div>
                                    <div>
                                      <p><i class="bi bi-door-open"></i> <%= studio.room %> Ruangan Tersedia</p>
                                      <p><i class="bi bi-star-half"></i> 4.7/5.0 <%= studio.rating %> Reviews</p>
                                    </div>
                                    <div>
                                      <p><i class="bi bi-clock"></i> Dibuat : <%= studio.createdAt.toDateString() %></p>
                                      <p><i class="bi bi-clock-history"></i> Update : <%= studio.updatedAt.toDateString() %></p>
                                    </div>
                                  </div>
                                  <img class="detailImgStudio " src="upload/images/studio/<%= studio.image %>" alt="image-studio">
                                  
                                  <div class="p-2">
                                    <p class="fw-semibold">Alamat :</p>
                                    <p><%= studio.address %></p>
                                    <p class="fw-semibold">Deskripsi :</p>
                                    <p><%= studio.description %></p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><!-- End Vertically centered Modal-->

                          <!-- Modal Edit Data -->
                          <div class="modal fade" id="editModal-<%= studio.id %>" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                              <div class="modal-content">
                                <div class="modal-header mb-3">
                                  <h5 class="modal-title">Update Studio</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <!-- Floating Labels Form -->
                                  <form class="row g-3" action="/dashboard/studios/updateStudio" method="POST">
                                    <!-- <div class="col-md-12">
                                      <div>
                                        <input type="hidden" name="ownerId" value="<%= user.id %>" class="form-control" id="floatingOwnerId" placeholder="Gambar Studio">
                                        <label for="floatingOwnerId"></label>
                                      </div>
                                    </div> -->
                                    <div class="col-md-12 mb-3">
                                      <input type="hidden" name="ownerId" value="<%= user.id %>" class="form-control">
                                      <input type="hidden" name="studioId" value="<%= studio.id %>" class="form-control">
                                      <!-- <div class="form-floating">
                                        <input type="text" class="form-control" name="image" value="<%= studio.image %>" id="floatingImage" placeholder="Gambar Studio">
                                        <label for="floatingImage">Gambar Studio</label>
                                      </div> -->
                                    </div>
                                    <div class="col-md-12 mb-3">
                                      <div class="form-floating">
                                        <input type="text" class="form-control" name="name" value="<%= studio.name %>" id="floatingName" placeholder="Nama Studio">
                                        <label for="floatingName">Nama Studio</label>
                                      </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                      <div class="form-floating mb-3">
                                        <select class="form-select" name="category" id="floatingCategory" aria-label="Kategori Studio">
                                          <option value="Studio Photography">Studio Photography</option>
                                          <option value="Studio Music">Studio Music</option>
                                          <option value="Studio Podcast">Studio Podcast</option>
                                          <option value="Studio Recording">Studio Recording</option>
                                        </select>
                                        <label for="floatingCategory">Kategori Studio</label>
                                      </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                      <div class="form-floating">
                                        <input type="text" class="form-control" name="description" value="<%= studio.description %>" id="floatingDesc" placeholder="Deskripsi">
                                        <label for="floatingDesc">Deskripsi</label>
                                      </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                      <div class="form-floating">
                                        <textarea class="form-control" name="address" placeholder="Alamat" id="floatingAlamat"
                                          style="height: 100px;"><%= studio.address %></textarea>
                                        <label for="floatingAlamat">Alamat</label>
                                      </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="number" class="form-control" name="price" value="<%= studio.price %>" id="floatingHarga" placeholder="Harga">
                                          <label for="floatingHarga">Harga (per Jam)</label>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- <div class="col-md-3">
                                      <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingDuration" placeholder="Duration">
                                        <label for="floatingDuration">Durasi Paket (? Jam)</label>
                                      </div>
                                    </div> -->
                                    <div class="col-md-12 mb-3">
                                      <div class="form-floating">
                                        <input type="number" class="form-control" name="room" value="<%= studio.room %>" id="floatingRoom" placeholder="Room">
                                        <label for="floatingRoom">Ruang (Unit)</label>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                      <button type="submit" class="btn btn-primary">Submit</button>
                                      <button type="reset" class="btn btn-secondary">Reset</button>
                                    </div>
                                  </form><!-- End floating Labels Form -->
                                </div>
                              </div>
                            </div>
                          </div><!-- End Vertically centered Modal-->

                          <!-- Modal Delete -->
                          <div class="modal fade" id="deleteModal-<%= studio.id %>" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabelLogout">Konfirmasi Tindakan !</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Apakah Anda yakin ingin hapus studio dari <b>
                                      <%= studio.name %>
                                    </b> ?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-primary"
                                    data-bs-dismiss="modal">Batalkan</button>
                                  <a href="/dashboard/studios/deleteStudio/<%= studio.id %>" class="btn btn-danger">Hapus</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% }) } %>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->

                  <!-- Modal Create Data -->
                  <div class="modal fade" id="createModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Data Studio Baru</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <!-- Floating Labels Form -->
                          <form class="row g-3" enctype="multipart/form-data" action="/dashboard/studios/createStudio" method="POST">
                            <!-- <div class="col-md-12">
                              <div>
                                <input type="hidden" name="ownerId" value="<%= user.id %>" class="form-control" id="floatingOwnerId" placeholder="Gambar Studio">
                                <label for="floatingOwnerId"></label>
                              </div>
                            </div> -->
                            <div class="col-md-12">
                              <input type="hidden" name="ownerId" value="<%= user.id %>" class="form-control">
                              <div class="form-floating">
                                <input type="file" class="form-control" name="image" id="floatingImage" placeholder="Gambar Studio">
                                <label for="floatingImage">Gambar Studio</label>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-floating">
                                <input type="text" class="form-control" name="name" id="floatingName" placeholder="Nama Studio">
                                <label for="floatingName">Nama Studio</label>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-floating mb-3">
                                <select class="form-select" name="category" id="floatingCategory" aria-label="Kategori Studio">
                                  <option selected value="Studio Photography">Studio Photography</option>
                                  <option value="Studio Music">Studio Music</option>
                                  <option value="Studio Podcast">Studio Podcast</option>
                                  <option value="Studio Recording">Studio Recording</option>
                                </select>
                                <label for="floatingCategory">Kategori Studio</label>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-floating">
                                <input type="text" class="form-control" name="description" id="floatingDesc" placeholder="Deskripsi">
                                <label for="floatingDesc">Deskripsi</label>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-floating">
                                <textarea class="form-control" name="address" placeholder="Alamat" id="floatingAlamat"
                                  style="height: 100px;"></textarea>
                                <label for="floatingAlamat">Alamat</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="number" class="form-control" name="price" id="floatingHarga" placeholder="Harga">
                                <label for="floatingHarga">Harga (per Jam)</label>
                              </div>
                              <!-- <div class="col-md-12">
                              </div> -->
                            </div>
                            <!-- <div class="col-md-3">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="floatingDuration" placeholder="Duration">
                                <label for="floatingDuration">Durasi Paket (? Jam)</label>
                              </div>
                            </div> -->
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="number" class="form-control" name="room" id="floatingRoom" placeholder="Room">
                                <label for="floatingRoom">Ruang (Unit)</label>
                              </div>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                          </form><!-- End floating Labels Form -->
                        </div>
                        <!-- <div class="modal-footer">
                          <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div> -->
                      </div>
                    </div>
                  </div><!-- End Vertically centered Modal-->
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- END TABLE LIST ALL STUDIO -->

      </main><!-- End #main -->

      <%- include('../../components/footer') %>

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
          <i class="bi bi-arrow-up-short"></i>
        </a>

        <!-- Vendor JS Files -->
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

</body>

</html>