<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detail Studio Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <base href="/">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="assets/css/frontSite-style.css" rel="stylesheet">

</head>

<body>
  <%- include('../../components/navbarClient') %>

  <main class="container">
    <section class="title  mt-5">
      <div class="row ms-2 mb-4">
        <div class="breadcrumb col-md-3 align-content-center">
          <h5 class="fw-light me-1">Beranda /</h5>
          <h5 class="fw-medium">Detail Studio</h5>
        </div>
        <div class="title-studio col-md-7 text-center">
          <h1 class="fw-semibold"><%= studio.name %></h1>
          <h6 class="fw-light"><%= studio.address %></h6>
        </div>
      </div>
      <img class="bannerStudio w-100 rounded-4"
        src="upload/images/studio/<%= studio.image %>"
        alt="studio" height="600px">
    </section>

    <section class="mt-5">
      <div class="row description">
        <div class="col-lg-7 p-2">
          <h4 class="fw-semibold">Deskripsi Studio</h4>
          <p class="fw-light">
            <%= studio.description %>
          </p>
          <div class="row pe-4 mt-5">
            <div class="col-lg-12">
              <ul class="d-flex flex-wrap gap-4">
                <li>
                  <img src="assets/img/icon/icons8-traffic-jam-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">Free <span class="fw-light opacity-75">Parking</span></p>
                </li>
                <li>
                  <img src="assets/img/icon/icons8-pray-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">1 <span class="fw-light opacity-75">Mushola</span></p>                    
                </li>
                <li>
                  <img src="assets/img/icon/icons8-garden-sprinkler-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">2 <span class="fw-light opacity-75">Garden</span></p>                    
                </li>
                <li>
                  <img src="assets/img/icon/icons8-wifi-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">10 <span class="fw-light opacity-75">Mbps/s</span></p>                    
                </li>
                <li>
                  <img src="assets/img/icon/icons8-ac-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">7 <span class="fw-light opacity-75">Unit ready</span></p>                    
                </li>
                <li>
                  <img src="assets/img/icon/icons8-coffee-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">Free <span class="fw-light opacity-75">Drinks</span></p>                    
                </li>
                <li>
                  <img src="assets/img/icon/icons8-toilet-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">2 <span class="fw-light opacity-75">Toilet</span></p>                    
                </li>
                <li>
                  <img src="assets/img/icon/icons8-professional-48.png" alt="">
                  <p class="fw-medium text-dark mt-2">100% <span class="fw-light opacity-75">Professional</span></p>                    
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-5 p-2">
          <div class="box border border-secondary rounded-3">
            <form action="/detail-reservation" method="POST">
              <h4 class="fw-semibold fs-5">Mulai Pemesanan Studio</h4>
              <input type="hidden" value="<%= studio.id %>" name="studioId" id="studioId">
              <h3 class="fw-semibold text-success fs-2">RP <%= studio.price.toString().slice(0,3) %>K <span class="fw-light fs-3 text-secondary">per jam</span></h3>
              <input type="hidden" value="<%= studio.price %>" name="priceStudio" id="priceStudio">
              <input type="hidden" value="0" name="totalPayment" id="totalPayment">
              <!-- <input type="hidden" value="0" name="fee" id="fee"> -->
  
              <p class="mt-4">Berapa lama ingin sewa studio ?</p>
              <div class="btn-package d-flex">
                <button type="button" class="fw-bold btn btn-danger" id="btn-minus">-</button>
                <input class="bg-body-secondary" type="number" value="0" min="1" max="4" name="duration" id="duration" required>
                <button type="button" class="fw-bold btn btn-success" id="btn-plus">+</button>
              </div>
              <p class="mt-4">Pilih Ruang Studio</p>
              <div class="btn-room d-flex">
                <button class="btn btn-dark">
                  <svg
                    viewBox="4 2 30 25"
                    fill="currentColor"
                    height="1.5em"
                    width="1.5em"
                  >
                    <path d="M18 2H6c-1.103 0-2 .897-2 2v17a1 1 0 001 1h14a1 1 0 001-1V4c0-1.103-.897-2-2-2zm0 18H6V4h12v16z" />
                    <path d="M8 6h3v2H8zm5 0h3v2h-3zm-5 4h3v2H8zm5 .031h3V12h-3zM8 14h3v2H8zm5 0h3v2h-3z" />
                  </svg>
                </button>
                <select class="bg-body-secondary" name="room" id="room">

                  <option value="" selected>Pilih Ruang Studio</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
              <p class="mt-4">Pilih tanggal</p>
              <div class="btn-date d-flex">
                <button class="btn btn-dark">
                  <svg width="25" height="27" viewBox="0 11 32 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1" y="3" width="23" height="23" rx="2" stroke="white" stroke-width="2" />
                    <rect x="5" y="15" width="5" height="5" rx="1" stroke="white" stroke-width="2" />
                    <rect x="15" y="15" width="5" height="5" rx="1" stroke="white" stroke-width="2" />
                    <path d="M1 9H24" stroke="white" stroke-width="2" />
                    <path d="M5 1L5 5" stroke="white" stroke-width="2" stroke-linecap="round" />
                    <path d="M20 1L20 5" stroke="white" stroke-width="2" stroke-linecap="round" />
                  </svg>
                </button>
                <input class="bg-body-secondary" type="date" name="rentDate" id="" required>
              </div>
              <p class="mt-5">Anda akan membayar sewa studio sebesar : <span class="fw-semibold" id="showTotalPrice">Rp0</span> per
                <span class="fw-semibold" id="hourRentStudio">0 jam</span>
              </p>
              <% if (!user) { %>
                <button type="submit" class="btn btn-primary w-100 p-2" disabled>Lanjut Pembayaran</button>
                <p class="text-danger mt-2">*Silahkan login dahulu sebelum Anda melakukan pemesanan Studio</p>
              <% } else { %>
                <button type="submit" class="btn btn-primary w-100 p-2">Lanjut Pembayaran</button>
              <% } %>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="produk mt-5">
      <div class="d-flex justify-content-between">
        <p class="fw-medium fs-5">Studio Lainnya</p>
        <span class="d-flex gap-2">
          <a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Lihat studio lain</a>
          <i class="bi bi-arrow-right"></i>
        </span>
      </div>
      <div class="container produk-wrapper">
        <!-- <div class="row1">
          <div class="toggle-slider">
            <i class="bx bxs-chevron-left-circle"></i>
            <i class="bx bxs-chevron-right-circle"></i>
          </div>
        </div> -->
        <div class="row2">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide card-produk">
                <img src="assets/img/music1.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">80k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Intan Music Studio</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.4</div>
                    <p>58 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Intan music studio & Course • Sound system for rent • Musical instrument for rent</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo1.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">50k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Moro Self Photo</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 5.0</div>
                    <p>252 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Hi Moro Peeps, sekarang Morostudio dapat hadir di acara-acara kamu lohh dalam bentuk Self Photobooth.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/music2.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">80k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Charlie Studio Music</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.2</div>
                    <p>320 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Kami adalah jasa pelayanan studio musik dan rekaman, terdiri dari 3 studio latihan dan 1 studio rekaman.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo2.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">100k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Agatha Photo</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.8</div>
                    <p>2.065 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Visi : Not just to be the biggest, but the gratest in photography industry as well. Misi: We innovate continuously</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/music3.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">99k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Studio Musik Sebelas</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.8</div>
                    <p>81 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Studio musik dan recording SEBELAS Yogyakarta.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo3.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">30k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Duta Foto Pusat</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.5</div>
                    <p>1.341 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Karena moment adalah salah satu bentuk keabadian yang tak akan lekang oleh waktu.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/music4.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">35k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Pringgading Studio Music</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.7</div>
                    <p>26 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo4.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">35k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Valio Studios</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.6</div>
                    <p>1.161 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Swiper JS -->
        </div>
      </div>
    </section>

    <section class="reviews p-2">
      <div class="row">
        <div class="col-lg-4 me-4">
          <img src="assets/img/foto_keluarga.png" alt="">
        </div>
        <div class="col-lg-7 my-auto">
          <h2 class="fw-medium mb-5">Pelanggan Bahagia</h2>
          <span class="d-flex gap-2 mb-3">
            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.0489 1.67705C14.3483 0.755738 15.6517 0.75574 15.9511 1.67705L18.6484 9.97847C18.7822 10.3905 19.1662 10.6695 19.5994 10.6695H28.328C29.2968 10.6695 29.6995 11.9091 28.9158 12.4785L21.8542 17.609C21.5037 17.8637 21.3571 18.315 21.4909 18.7271L24.1882 27.0285C24.4876 27.9498 23.4331 28.7159 22.6494 28.1465L15.5878 23.016C15.2373 22.7613 14.7627 22.7613 14.4122 23.016L7.3506 28.1465C6.56689 28.7159 5.51241 27.9498 5.81176 27.0285L8.50906 18.7271C8.64293 18.315 8.49627 17.8637 8.14579 17.609L1.08417 12.4785C0.300457 11.9091 0.703234 10.6695 1.67196 10.6695H10.4006C10.8338 10.6695 11.2178 10.3905 11.3516 9.97847L14.0489 1.67705Z" fill="#FFCC47"/>
            </svg>
            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.0489 1.67705C14.3483 0.755738 15.6517 0.75574 15.9511 1.67705L18.6484 9.97847C18.7822 10.3905 19.1662 10.6695 19.5994 10.6695H28.328C29.2968 10.6695 29.6995 11.9091 28.9158 12.4785L21.8542 17.609C21.5037 17.8637 21.3571 18.315 21.4909 18.7271L24.1882 27.0285C24.4876 27.9498 23.4331 28.7159 22.6494 28.1465L15.5878 23.016C15.2373 22.7613 14.7627 22.7613 14.4122 23.016L7.3506 28.1465C6.56689 28.7159 5.51241 27.9498 5.81176 27.0285L8.50906 18.7271C8.64293 18.315 8.49627 17.8637 8.14579 17.609L1.08417 12.4785C0.300457 11.9091 0.703234 10.6695 1.67196 10.6695H10.4006C10.8338 10.6695 11.2178 10.3905 11.3516 9.97847L14.0489 1.67705Z" fill="#FFCC47"/>
            </svg>
            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.0489 1.67705C14.3483 0.755738 15.6517 0.75574 15.9511 1.67705L18.6484 9.97847C18.7822 10.3905 19.1662 10.6695 19.5994 10.6695H28.328C29.2968 10.6695 29.6995 11.9091 28.9158 12.4785L21.8542 17.609C21.5037 17.8637 21.3571 18.315 21.4909 18.7271L24.1882 27.0285C24.4876 27.9498 23.4331 28.7159 22.6494 28.1465L15.5878 23.016C15.2373 22.7613 14.7627 22.7613 14.4122 23.016L7.3506 28.1465C6.56689 28.7159 5.51241 27.9498 5.81176 27.0285L8.50906 18.7271C8.64293 18.315 8.49627 17.8637 8.14579 17.609L1.08417 12.4785C0.300457 11.9091 0.703234 10.6695 1.67196 10.6695H10.4006C10.8338 10.6695 11.2178 10.3905 11.3516 9.97847L14.0489 1.67705Z" fill="#FFCC47"/>
            </svg>
            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.0489 1.67705C14.3483 0.755738 15.6517 0.75574 15.9511 1.67705L18.6484 9.97847C18.7822 10.3905 19.1662 10.6695 19.5994 10.6695H28.328C29.2968 10.6695 29.6995 11.9091 28.9158 12.4785L21.8542 17.609C21.5037 17.8637 21.3571 18.315 21.4909 18.7271L24.1882 27.0285C24.4876 27.9498 23.4331 28.7159 22.6494 28.1465L15.5878 23.016C15.2373 22.7613 14.7627 22.7613 14.4122 23.016L7.3506 28.1465C6.56689 28.7159 5.51241 27.9498 5.81176 27.0285L8.50906 18.7271C8.64293 18.315 8.49627 17.8637 8.14579 17.609L1.08417 12.4785C0.300457 11.9091 0.703234 10.6695 1.67196 10.6695H10.4006C10.8338 10.6695 11.2178 10.3905 11.3516 9.97847L14.0489 1.67705Z" fill="#FFCC47"/>
            </svg>
            <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.0489 1.67705C14.3483 0.755738 15.6517 0.75574 15.9511 1.67705L18.6484 9.97847C18.7822 10.3905 19.1662 10.6695 19.5994 10.6695H28.328C29.2968 10.6695 29.6995 11.9091 28.9158 12.4785L21.8542 17.609C21.5037 17.8637 21.3571 18.315 21.4909 18.7271L24.1882 27.0285C24.4876 27.9498 23.4331 28.7159 22.6494 28.1465L15.5878 23.016C15.2373 22.7613 14.7627 22.7613 14.4122 23.016L7.3506 28.1465C6.56689 28.7159 5.51241 27.9498 5.81176 27.0285L8.50906 18.7271C8.64293 18.315 8.49627 17.8637 8.14579 17.609L1.08417 12.4785C0.300457 11.9091 0.703234 10.6695 1.67196 10.6695H10.4006C10.8338 10.6695 11.2178 10.3905 11.3516 9.97847L14.0489 1.67705Z" fill="#FFCC47"/>
            </svg>
          </span>
          <p class="fs-2">Studio nya nyaman & fasilitas lengkap. <br> Suatu saat nanti aku mau datang lagi.</p>
          <p class="fw-light opacity-50 mb-5">Anggi Masama, Turis Lokal, Malioboro Yogyakarta</p>

          <a href="#" class="btn btn-primary px-5 p-2 shadow-lg">Baca review lainnya</a>
        </div>
      </div>
    </section>

    <!-- <div style="height: 100vh;"></div> -->
  </main><!-- End #main -->

  <%- include('../../components/footerClient') %>
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="assets/vendor/simple-datatables/simple-datatables.js"></script> -->

  <!-- Template Main JS File -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="assets/js/index.js"></script>

</body>

</html>