<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>StudioBook Apps</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <base href="/">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> -->
  <!-- <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="assets/css/frontSite-style.css" rel="stylesheet">
</head>

<body>
  <%- include('../../components/navbarClient') %>

  <!-- Start Search Section -->
  <section class="search-studio">
    <form class="box-search p-4 rounded-3 mx-auto d-flex gap-3">
      <div class="location bg-body-tertiary rounded-3 d-flex gap-2 p-3">
        <img src="assets/img/icon/location.png" alt="icon-lokasi">
        <select class="bg-body-tertiary" name="location" id="location">
          <option value="">Pilih Lokasi Studio ...</option>
          <option value="">Example</option>
        </select>
      </div>
      <div class="calendar bg-body-tertiary rounded-3 d-flex gap-2 p-3">
        <img src="assets/img/icon/calendar.png" alt="icon-calendar">
        <input class="bg-body-tertiary" type="date" name="" id="">
      </div>
      <div class="category bg-body-tertiary rounded-3 d-flex gap-2 p-3">
        <img src="assets/img/icon/category.png" alt="icon-category">
        <select class="bg-body-tertiary" name="category" id="category">
          <option value="">Pilih Kategori Studio ...</option>
          <option value="">Example</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Cari Studio</button>
      <button class="btn btn-primary" type="reset">Reset</button>
    </form>
  </section>
  <!-- End Search Section -->

  <!-- <div style="height: 100vh;"></div> -->

  <!-- Start Main -->
  <main class="container">

    <div class="list-studio my-5">
      <% studios.forEach((studio, key) => { %>
        <div class="studio-wrapper">
          <img class="photo-studio" src="<%= studio.image %>" alt="" />
          <!-- <img src="assets/img/music1.jpg" alt="" /> -->
          <div class="details">
            <div class="d-flex justify-content-between">
              <p class="category"><%= studio.category %></p>
              <p class="price"><%= studio.price.toString().slice(0,3) %>K</p>
            </div>
            <h1 class="title-studio text-truncate" style="max-width: 250px;"><%= studio.name %></h1>
            <div class="review">
              <div class="star"><i class="bx bxs-star"></i> 4.4</div>
              <p>58 reviewer</p>
            </div>
            <p class="desc-studio"><%= studio.description %></p>
            <div class="btn-produk">
              <a class="btn-detail-studio" href="/studios/detail-studio/<%= studio.id %>">Detail</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
    
    
    <!-- <div class="swiper-wrapper2">
      <% studios.forEach((studio, key) => { %>
        <div class="card-produk2">
        <img src="<%= studio.image %>" alt="" />
        <div class="detail-produk2">
          <div class="info-title">
            <h1><%= studio.name %></h1>
            <p class="star2"><i class="bx bxs-star"></i> 4.4</p>
          </div>
          <div class="body-card2">
            <p class="info-location"><i class="bx bxs-map"></i><%= studio.address %> ...</p>
            <p class="studio2"><%= studio.category %>.</p>
          </div>
          <div class="price-wrapper2">
            <p><b><%= studio.price.toString().slice(0,3) %>K</b> / <span>jam</span></p>
            <div class="btn-produk2">
              <a href="#">Sewa</a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div> -->
    <!-- <div style="height: 100vh;"></div> -->
  </main><!-- End #main -->

  <%- include('../../components/footerClient') %>
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="assets/vendor/simple-datatables/simple-datatables.js"></script> -->

  <!-- Template Main JS File -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="assets/js/index.js"></script>

</body>

</html>