<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Detail Pemesanan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <base href="/">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/frontSite-style.css" rel="stylesheet">

</head>

<body>

  <header class="shadow-sm">
    <nav class="text-center p-3">
      <a href="/">
        <svg width="129" height="27" viewBox="0 0 129 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.502 25.208C6.19667 25.208 4.35067 24.7747 2.964 23.908C1.57733 23.024 0.884 21.6807 0.884 19.878C0.884 18.9247 1.04867 18.1967 1.378 17.694C1.70733 17.1913 2.19267 16.94 2.834 16.94C3.302 16.94 3.68333 17.0613 3.978 17.304C4.27267 17.5467 4.42 17.8587 4.42 18.24C4.42 18.5867 4.394 18.89 4.342 19.15C4.342 19.2193 4.32467 19.3407 4.29 19.514C4.27267 19.6873 4.264 19.8693 4.264 20.06C4.264 20.84 4.654 21.4207 5.434 21.802C6.23133 22.1833 7.34067 22.374 8.762 22.374C10.2353 22.374 11.388 22.114 12.22 21.594C13.052 21.0567 13.468 20.3113 13.468 19.358C13.468 18.7687 13.2773 18.266 12.896 17.85C12.5147 17.4167 12.038 17.0613 11.466 16.784C10.894 16.4893 10.088 16.134 9.048 15.718C7.71333 15.198 6.62133 14.704 5.772 14.236C4.94 13.768 4.22067 13.1353 3.614 12.338C3.02467 11.5233 2.73 10.518 2.73 9.322C2.73 8.074 3.05933 6.96467 3.718 5.994C4.394 5.02333 5.356 4.26933 6.604 3.732C7.86933 3.19467 9.35133 2.926 11.05 2.926C12.3153 2.926 13.4767 3.11667 14.534 3.498C15.5913 3.862 16.432 4.42533 17.056 5.188C17.6973 5.95067 18.018 6.88667 18.018 7.996C18.018 9.088 17.8533 9.91133 17.524 10.466C17.1947 11.0207 16.7093 11.298 16.068 11.298C15.6173 11.298 15.236 11.1593 14.924 10.882C14.6293 10.6047 14.482 10.2753 14.482 9.894C14.482 9.56467 14.508 9.26133 14.56 8.984C14.612 8.464 14.638 8.13467 14.638 7.996C14.638 7.268 14.2827 6.71333 13.572 6.332C12.8613 5.95067 11.9773 5.76 10.92 5.76C9.42933 5.76 8.28533 6.03733 7.488 6.592C6.708 7.12933 6.318 7.892 6.318 8.88C6.318 9.53867 6.51733 10.102 6.916 10.57C7.332 11.038 7.84333 11.428 8.45 11.74C9.05667 12.052 9.906 12.4247 10.998 12.858C12.3153 13.3953 13.3727 13.8807 14.17 14.314C14.9673 14.7473 15.6433 15.3367 16.198 16.082C16.77 16.8273 17.056 17.746 17.056 18.838C17.056 20.8833 16.276 22.4607 14.716 23.57C13.1733 24.662 11.102 25.208 8.502 25.208ZM30.6174 19.202C30.8428 19.202 31.0161 19.306 31.1374 19.514C31.2761 19.722 31.3454 20.008 31.3454 20.372C31.3454 21.0653 31.1808 21.6027 30.8514 21.984C30.1061 22.9027 29.2914 23.6567 28.4074 24.246C27.5234 24.8353 26.5094 25.13 25.3654 25.13C21.8294 25.13 20.0614 22.6427 20.0614 17.668C20.0614 16.9053 20.0874 16.134 20.1394 15.354H19.1254C18.6054 15.354 18.2501 15.2587 18.0594 15.068C17.8861 14.8773 17.7994 14.574 17.7994 14.158C17.7994 13.1873 18.1894 12.702 18.9694 12.702H20.4514C20.7461 10.7953 21.1968 9.05333 21.8034 7.476C22.4101 5.89867 23.1381 4.642 23.9874 3.706C24.8541 2.77 25.7814 2.302 26.7694 2.302C27.4974 2.302 28.0694 2.62267 28.4854 3.264C28.9014 3.90533 29.1094 4.71133 29.1094 5.682C29.1094 8.36867 27.9828 10.7087 25.7294 12.702H28.6414C28.9188 12.702 29.1181 12.7627 29.2394 12.884C29.3608 13.0053 29.4214 13.2307 29.4214 13.56C29.4214 14.756 28.4421 15.354 26.4834 15.354H23.3114C23.2768 16.2207 23.2594 16.8967 23.2594 17.382C23.2594 19.1847 23.4674 20.45 23.8834 21.178C24.3168 21.906 24.9928 22.27 25.9114 22.27C26.6568 22.27 27.3154 22.0447 27.8874 21.594C28.4594 21.1433 29.1354 20.4673 29.9154 19.566C30.1234 19.3233 30.3574 19.202 30.6174 19.202ZM26.0674 4.798C25.8074 4.798 25.5128 5.12733 25.1834 5.786C24.8714 6.42733 24.5681 7.32867 24.2734 8.49C23.9961 9.634 23.7621 10.908 23.5714 12.312C24.5941 11.428 25.3568 10.44 25.8594 9.348C26.3794 8.23867 26.6394 7.23333 26.6394 6.332C26.6394 5.30933 26.4488 4.798 26.0674 4.798ZM31.8805 25.13C31.1005 25.13 30.4591 24.7747 29.9565 24.064C29.4711 23.336 29.2285 22.4347 29.2285 21.36C29.2285 20.06 29.3151 18.8727 29.4885 17.798C29.6618 16.706 29.9478 15.5533 30.3465 14.34C30.5198 13.82 30.7625 13.4473 31.0745 13.222C31.3865 12.9967 31.8805 12.884 32.5565 12.884C32.9378 12.884 33.1978 12.9447 33.3365 13.066C33.4925 13.1873 33.5705 13.3693 33.5705 13.612C33.5705 13.7507 33.4751 14.2187 33.2845 15.016C33.1111 15.6573 32.9725 16.238 32.8685 16.758C32.5218 18.578 32.3485 19.7913 32.3485 20.398C32.3485 20.762 32.3918 21.022 32.4785 21.178C32.5651 21.3167 32.7038 21.386 32.8945 21.386C33.1545 21.386 33.4751 21.126 33.8565 20.606C34.2551 20.086 34.6711 19.2973 35.1045 18.24C35.5551 17.1827 35.9885 15.8827 36.4045 14.34C36.5431 13.82 36.7511 13.4473 37.0285 13.222C37.3231 12.9967 37.7565 12.884 38.3285 12.884C38.7271 12.884 39.0045 12.936 39.1605 13.04C39.3165 13.1267 39.3945 13.3 39.3945 13.56C39.3945 13.9933 39.1778 15.1807 38.7445 17.122C38.2591 19.3407 38.0165 20.71 38.0165 21.23C38.0165 21.5593 38.0858 21.8193 38.2245 22.01C38.3631 22.1833 38.5451 22.27 38.7705 22.27C39.1171 22.27 39.5245 22.062 39.9925 21.646C40.4778 21.2127 41.1191 20.5193 41.9165 19.566C42.1245 19.3233 42.3585 19.202 42.6185 19.202C42.8438 19.202 43.0171 19.306 43.1385 19.514C43.2771 19.722 43.3465 20.008 43.3465 20.372C43.3465 21.0653 43.1818 21.6027 42.8525 21.984C42.1071 22.9027 41.3011 23.6567 40.4345 24.246C39.5851 24.8353 38.6145 25.13 37.5225 25.13C36.6905 25.13 36.0751 24.8093 35.6765 24.168C35.2951 23.5267 35.1045 22.6253 35.1045 21.464C34.8098 22.6427 34.3678 23.5527 33.7785 24.194C33.1891 24.818 32.5565 25.13 31.8805 25.13ZM56.0062 19.202C56.2316 19.202 56.4049 19.306 56.5262 19.514C56.6649 19.722 56.7342 20.008 56.7342 20.372C56.7342 21.0653 56.5696 21.6027 56.2402 21.984C55.5296 22.8507 54.7496 23.596 53.9002 24.22C53.0509 24.8267 52.2102 25.13 51.3782 25.13C50.0609 25.13 49.0556 24.3587 48.3622 22.816C47.6342 23.7347 46.9929 24.35 46.4382 24.662C45.9009 24.974 45.2682 25.13 44.5402 25.13C43.4829 25.13 42.6076 24.74 41.9142 23.96C41.2382 23.1627 40.9002 22.1313 40.9002 20.866C40.9002 19.4793 41.1949 18.1967 41.7842 17.018C42.3736 15.822 43.1796 14.8513 44.2022 14.106C45.2422 13.3433 46.4036 12.8927 47.6862 12.754C48.0156 9.39133 48.6396 6.52267 49.5582 4.148C50.4942 1.756 51.7162 0.559999 53.2242 0.559999C53.9696 0.559999 54.5849 0.897999 55.0702 1.574C55.5729 2.25 55.8242 3.27267 55.8242 4.642C55.8242 6.58333 55.3476 8.854 54.3942 11.454C53.4409 14.054 52.1669 16.7233 50.5722 19.462C50.6416 20.4673 50.7889 21.1867 51.0142 21.62C51.2569 22.0533 51.5602 22.27 51.9242 22.27C52.3922 22.27 52.8689 22.062 53.3542 21.646C53.8396 21.23 54.4896 20.5367 55.3042 19.566C55.5122 19.3233 55.7462 19.202 56.0062 19.202ZM52.9382 3.108C52.6089 3.108 52.2796 3.69733 51.9502 4.876C51.6209 6.03733 51.3349 7.56267 51.0922 9.452C50.8669 11.3413 50.7022 13.3173 50.5982 15.38C52.5396 11.1507 53.5102 7.75333 53.5102 5.188C53.5102 4.52933 53.4496 4.018 53.3282 3.654C53.2242 3.29 53.0942 3.108 52.9382 3.108ZM45.4502 22.504C45.7796 22.504 46.1089 22.374 46.4382 22.114C46.7676 21.8367 47.1836 21.334 47.6862 20.606C47.5129 19.67 47.4262 18.6213 47.4262 17.46C47.4262 17.044 47.4436 16.368 47.4782 15.432C46.5249 15.7267 45.7276 16.368 45.0862 17.356C44.4622 18.3267 44.1502 19.41 44.1502 20.606C44.1502 21.8713 44.5836 22.504 45.4502 22.504ZM58.0251 11.168C57.2971 11.168 56.7511 11.0033 56.3871 10.674C56.0231 10.3273 55.8411 9.85067 55.8411 9.244C55.8411 8.63733 56.0751 8.13467 56.5431 7.736C57.0284 7.32 57.6264 7.112 58.3371 7.112C58.9784 7.112 59.4984 7.268 59.8971 7.58C60.2958 7.892 60.4951 8.334 60.4951 8.906C60.4951 9.59933 60.2698 10.154 59.8191 10.57C59.3684 10.9687 58.7704 11.168 58.0251 11.168ZM57.8171 25.13C56.6904 25.13 55.8671 24.7313 55.3471 23.934C54.8444 23.1367 54.5931 22.0793 54.5931 20.762C54.5931 19.982 54.6884 18.9853 54.8791 17.772C55.0871 16.5413 55.3471 15.3973 55.6591 14.34C55.8151 13.7853 56.0231 13.404 56.2831 13.196C56.5431 12.988 56.9591 12.884 57.5311 12.884C58.4151 12.884 58.8571 13.1787 58.8571 13.768C58.8571 14.2013 58.6924 15.2067 58.3631 16.784C57.9471 18.6907 57.7391 19.982 57.7391 20.658C57.7391 21.178 57.8084 21.5767 57.9471 21.854C58.0858 22.1313 58.3198 22.27 58.6491 22.27C58.9611 22.27 59.3511 22.0533 59.8191 21.62C60.2871 21.1867 60.9111 20.502 61.6911 19.566C61.8991 19.3233 62.1331 19.202 62.3931 19.202C62.6184 19.202 62.7918 19.306 62.9131 19.514C63.0518 19.722 63.1211 20.008 63.1211 20.372C63.1211 21.0653 62.9564 21.6027 62.6271 21.984C60.9111 24.0813 59.3078 25.13 57.8171 25.13ZM65.4115 25.13C64.3889 25.13 63.5135 24.8787 62.7855 24.376C62.0749 23.856 61.5375 23.18 61.1735 22.348C60.8095 21.516 60.6275 20.6233 60.6275 19.67C60.6275 18.3527 60.8702 17.1827 61.3555 16.16C61.8582 15.12 62.5342 14.314 63.3835 13.742C64.2329 13.1527 65.1862 12.858 66.2435 12.858C67.2662 12.858 68.1415 13.118 68.8695 13.638C69.5975 14.1407 70.1435 14.808 70.5075 15.64C70.8715 16.472 71.0535 17.3647 71.0535 18.318C71.0535 19.6353 70.8022 20.814 70.2995 21.854C69.7969 22.8767 69.1122 23.6827 68.2455 24.272C67.3962 24.844 66.4515 25.13 65.4115 25.13ZM65.6975 22.322C66.2869 22.322 66.7809 22.0013 67.1795 21.36C67.5955 20.7187 67.8035 19.7827 67.8035 18.552C67.8035 17.5987 67.6302 16.8793 67.2835 16.394C66.9369 15.9087 66.5209 15.666 66.0355 15.666C65.4115 15.666 64.8915 15.9867 64.4755 16.628C64.0769 17.252 63.8775 18.188 63.8775 19.436C63.8775 20.424 64.0509 21.152 64.3975 21.62C64.7442 22.088 65.1775 22.322 65.6975 22.322Z" fill="#3252DF"/>
          <path d="M94.1188 8.36C94.1188 9.83333 93.5988 11.1073 92.5588 12.182C91.5188 13.2393 90.0021 14.002 88.0088 14.47C89.0834 14.7647 89.8981 15.25 90.4528 15.926C91.0074 16.5847 91.2848 17.3473 91.2848 18.214C91.2848 19.5833 90.8514 20.7707 89.9848 21.776C89.1354 22.7813 87.8874 23.5613 86.2408 24.116C84.5941 24.6533 82.6094 24.922 80.2868 24.922C79.4201 24.922 78.7268 24.896 78.2068 24.844C78.1894 25.3293 77.9814 25.6933 77.5828 25.936C77.1841 26.1787 76.6728 26.3 76.0488 26.3C75.4248 26.3 74.9914 26.1613 74.7488 25.884C74.5234 25.6067 74.4281 25.1993 74.4628 24.662C74.6188 22.2353 74.9221 19.696 75.3728 17.044C75.8234 14.3747 76.3954 11.8007 77.0888 9.322C77.2101 8.88867 77.4528 8.58533 77.8168 8.412C78.1808 8.23867 78.6574 8.152 79.2468 8.152C80.3041 8.152 80.8328 8.44667 80.8328 9.036C80.8328 9.27867 80.7808 9.556 80.6768 9.868C80.2261 11.22 79.7754 13.0573 79.3248 15.38C78.8741 17.6853 78.5534 19.8867 78.3628 21.984C79.1948 22.0533 79.8708 22.088 80.3908 22.088C82.8174 22.088 84.5941 21.7413 85.7208 21.048C86.8648 20.3373 87.4368 19.436 87.4368 18.344C87.4368 17.5813 87.1074 16.94 86.4488 16.42C85.8074 15.9 84.7241 15.614 83.1988 15.562C82.8521 15.5447 82.6094 15.458 82.4708 15.302C82.3321 15.146 82.2628 14.8947 82.2628 14.548C82.2628 14.0453 82.3668 13.638 82.5748 13.326C82.7828 13.014 83.1641 12.8493 83.7188 12.832C84.9494 12.7973 86.0588 12.6153 87.0468 12.286C88.0521 11.9567 88.8408 11.4973 89.4128 10.908C89.9848 10.3013 90.2708 9.59933 90.2708 8.802C90.2708 7.79667 89.7768 7.008 88.7888 6.436C87.8008 5.84667 86.2841 5.552 84.2388 5.552C82.3841 5.552 80.5901 5.79467 78.8568 6.28C77.1234 6.748 75.6501 7.346 74.4368 8.074C73.8821 8.40333 73.4141 8.568 73.0328 8.568C72.7208 8.568 72.4781 8.464 72.3048 8.256C72.1488 8.03067 72.0708 7.75333 72.0708 7.424C72.0708 6.99067 72.1574 6.618 72.3308 6.306C72.5214 5.994 72.9634 5.63867 73.6568 5.24C75.1128 4.408 76.8201 3.758 78.7788 3.29C80.7374 2.822 82.7394 2.588 84.7848 2.588C87.9221 2.588 90.2621 3.11667 91.8048 4.174C93.3474 5.23133 94.1188 6.62667 94.1188 8.36ZM106.651 17.018C106.876 17.018 107.049 17.1307 107.171 17.356C107.292 17.5813 107.353 17.8673 107.353 18.214C107.353 19.046 107.101 19.54 106.599 19.696C105.559 20.06 104.415 20.268 103.167 20.32C102.837 21.776 102.187 22.946 101.217 23.83C100.246 24.6967 99.1452 25.13 97.9146 25.13C96.8746 25.13 95.9819 24.8787 95.2366 24.376C94.5086 23.8733 93.9539 23.206 93.5726 22.374C93.1912 21.542 93.0006 20.6407 93.0006 19.67C93.0006 18.3527 93.2519 17.1827 93.7546 16.16C94.2572 15.12 94.9506 14.314 95.8346 13.742C96.7186 13.1527 97.6979 12.858 98.7726 12.858C100.09 12.858 101.147 13.3173 101.945 14.236C102.759 15.1373 103.236 16.2553 103.375 17.59C104.189 17.538 105.16 17.3647 106.287 17.07C106.425 17.0353 106.547 17.018 106.651 17.018ZM98.1226 22.374C98.6772 22.374 99.1539 22.1487 99.5526 21.698C99.9686 21.2473 100.246 20.5973 100.385 19.748C99.8472 19.384 99.4312 18.9073 99.1366 18.318C98.8592 17.7287 98.7206 17.1047 98.7206 16.446C98.7206 16.1687 98.7466 15.8913 98.7986 15.614H98.6686C97.9752 15.614 97.3946 15.952 96.9266 16.628C96.4759 17.2867 96.2506 18.2227 96.2506 19.436C96.2506 20.3893 96.4326 21.1173 96.7966 21.62C97.1779 22.1227 97.6199 22.374 98.1226 22.374ZM118.381 17.018C118.606 17.018 118.78 17.1307 118.901 17.356C119.022 17.5813 119.083 17.8673 119.083 18.214C119.083 19.046 118.832 19.54 118.329 19.696C117.289 20.06 116.145 20.268 114.897 20.32C114.568 21.776 113.918 22.946 112.947 23.83C111.976 24.6967 110.876 25.13 109.645 25.13C108.605 25.13 107.712 24.8787 106.967 24.376C106.239 23.8733 105.684 23.206 105.303 22.374C104.922 21.542 104.731 20.6407 104.731 19.67C104.731 18.3527 104.982 17.1827 105.485 16.16C105.988 15.12 106.681 14.314 107.565 13.742C108.449 13.1527 109.428 12.858 110.503 12.858C111.82 12.858 112.878 13.3173 113.675 14.236C114.49 15.1373 114.966 16.2553 115.105 17.59C115.92 17.538 116.89 17.3647 118.017 17.07C118.156 17.0353 118.277 17.018 118.381 17.018ZM109.853 22.374C110.408 22.374 110.884 22.1487 111.283 21.698C111.699 21.2473 111.976 20.5973 112.115 19.748C111.578 19.384 111.162 18.9073 110.867 18.318C110.59 17.7287 110.451 17.1047 110.451 16.446C110.451 16.1687 110.477 15.8913 110.529 15.614H110.399C109.706 15.614 109.125 15.952 108.657 16.628C108.206 17.2867 107.981 18.2227 107.981 19.436C107.981 20.3893 108.163 21.1173 108.527 21.62C108.908 22.1227 109.35 22.374 109.853 22.374ZM127.902 22.296C128.612 22.4347 128.968 22.8247 128.968 23.466C128.968 23.8993 128.768 24.2893 128.37 24.636C127.988 24.9653 127.434 25.13 126.706 25.13C125.458 25.13 124.435 24.7487 123.638 23.986C122.858 23.206 122.468 22.192 122.468 20.944C122.468 20.268 122.814 19.7827 123.508 19.488C124.27 19.1587 124.816 18.812 125.146 18.448C125.475 18.0667 125.64 17.6073 125.64 17.07C125.64 16.758 125.57 16.524 125.432 16.368C125.31 16.212 125.154 16.134 124.964 16.134C124.496 16.134 123.976 16.472 123.404 17.148C122.849 17.824 122.329 18.6993 121.844 19.774C121.358 20.8313 120.977 21.9233 120.7 23.05C120.509 23.8647 120.284 24.4193 120.024 24.714C119.781 24.9913 119.391 25.13 118.854 25.13C118.316 25.13 117.918 24.9393 117.658 24.558C117.415 24.1593 117.25 23.5527 117.164 22.738C117.077 21.9233 117.034 20.7273 117.034 19.15C117.034 16.4807 117.302 13.6987 117.84 10.804C118.394 7.90933 119.2 5.48267 120.258 3.524C121.332 1.548 122.615 0.559999 124.106 0.559999C124.903 0.559999 125.544 0.906665 126.03 1.6C126.532 2.276 126.784 3.16 126.784 4.252C126.784 6.00267 126.272 7.82267 125.25 9.712C124.227 11.584 122.563 13.7767 120.258 16.29C120.206 17.1913 120.18 18.1187 120.18 19.072C121.012 16.9053 121.965 15.3367 123.04 14.366C124.114 13.378 125.12 12.884 126.056 12.884C126.922 12.884 127.616 13.1787 128.136 13.768C128.673 14.3573 128.942 15.0853 128.942 15.952C128.942 16.9053 128.699 17.7807 128.214 18.578C127.728 19.3753 126.896 20.086 125.718 20.71C125.822 21.23 126.03 21.594 126.342 21.802C126.671 21.9927 127.191 22.1573 127.902 22.296ZM123.56 3.134C123.248 3.134 122.901 3.58467 122.52 4.486C122.138 5.37 121.766 6.57467 121.402 8.1C121.055 9.608 120.769 11.2547 120.544 13.04C121.618 11.7747 122.502 10.3967 123.196 8.906C123.906 7.41533 124.262 6.06333 124.262 4.85C124.262 4.29533 124.201 3.87067 124.08 3.576C123.958 3.28133 123.785 3.134 123.56 3.134Z" fill="#152C5B"/>
        </svg>
      </a>
    </nav>
  </header>

  <main class="container">
    <form action="/create-reservation" method="POST">
      <div class="title-reservations text-center my-5">
        <h2 class="mb-2 fw-semibold">Informasi Pemesanan</h2>
        <h6 class="text-body-tertiary">Mohon lengkapi formulir dibawah ini</h6>
      </div>

      <div class="row mt-5">
        <div class="col-lg-6 left-reservations">
          <img class="w-75 rounded-4" src="<%= studio.image %>" alt="">
          <div class="w-75 d-flex justify-content-between mt-3">
            <span>
              <h4><%= studio.name  %></h4>
              <h6 class="text-body-tertiary"><%= studio.address %></h6>
            </span>
            <p class="fw-semibold"><%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(studio.price); %><span class="text-body-tertiary"> per </span>1 Jam</p>
          </div>
        </div>
        <div class="col-lg-6 right-reservations">
          <div class="d-flex flex-column">
            <label for="name">Username</label>
            <input class="w-75 bg-body-secondary border-0 p-2 rounded-3" type="text" value="<%= user.username %>" name="name" id="name" placeholder="Tolong ketik nama anda ..." disabled>
            <input type="hidden" name="userId" value="<%= user.id %>">
            <input type="hidden" name="studioId" value="<%= studio.id %>">

            <label class="mt-4" for="duration">Durasi Sewa Studio (Jam)</label>
            <input type="hidden" name="duration" value="<%= payload.duration %>">
            <input class="w-75 bg-body-secondary border-0 p-2 rounded-3" type="number" value="<%= payload.duration %>" name="duration" id="duration" disabled>
            
            <label class="mt-4" for="room">Ruang Studio</label>
            <input type="hidden" name="room" value="<%= payload.room %>">
            <input class="w-75 bg-body-secondary border-0 p-2 rounded-3" type="number" value="<%= payload.room %>" name="room" id="room" disabled>

            <label class="mt-4" for="rentDate">Tanggal Sewa Studio</label>
            <input type="hidden" name="rentDate" value="<%= payload.rentDate %>">
            <input class="w-75 bg-body-secondary border-0 p-2 rounded-3" type="text" value="<%= payload.rentDate %>" name="rentDate" id="rentDate" disabled>
            
            <label class="mt-4" for="totalPayment">Total Harga Sewa Studio</label>
            <input type="hidden" name="totalPayment" value="<%= payload.totalPayment %>">
            <!-- <input type="number" name="totalPayment" value="<%= payload.totalPayment*0.1+Number(payload.totalPayment) %>"> -->
            <input class="w-75 bg-body-secondary border-0 p-2 rounded-3" type="text" value="<%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(payload.totalPayment); %>" name="totalPayment" id="totalPayment" disabled>

            <label class="mt-4" for="notes">Catatan</label>
            <input class="w-75 bg-body-secondary border-0 p-2 rounded-3" type="text" name="notes" id="notes" placeholder="Berikan catatan jika perlu ..." required>

            <!-- <label class="mt-4" for="note">Catatan</label>
            <input class="w-75 my-2 bg-body-secondary border-0 p-2 rounded-3" type="text" name="note" id="note" placeholder="Berikan catatan jika perlu ..." required> -->
          </div>  
        </div>
      </div>
      <div class="d-flex flex-column mx-auto mt-5 w-25 gap-3">
        <button type="submit" class="btn btn-primary">Lanjutkan Pemesanan</button>
        <a href="/studios/detail-studio/<%= studio.id %>" class="btn btn-secondary opacity-50 mb-2">Batalkan</a>
      </div>
    </form>
  </main>
  
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>